{
  "openapi": "3.1.0",
  "info": {
    "title": "ADH Backend",
    "version": "0.0.0",
    "description": "Generated from the Drizzle schema. CRUD routes are derived per table (/<schema>/<resource>); the non-CRUD surface (auth, oauth, chat, registry, customer, storage, search, messaging, notifications, and more) is hand-written in src/openapi/paths/* and kept in sync with the routes by a drift guard."
  },
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "ai-processing"
    },
    {
      "name": "auth"
    },
    {
      "name": "billing"
    },
    {
      "name": "bookmarks"
    },
    {
      "name": "bucket"
    },
    {
      "name": "chat"
    },
    {
      "name": "contacts"
    },
    {
      "name": "content"
    },
    {
      "name": "customer"
    },
    {
      "name": "discussion"
    },
    {
      "name": "document"
    },
    {
      "name": "ecosystem"
    },
    {
      "name": "gamification"
    },
    {
      "name": "integration"
    },
    {
      "name": "messaging"
    },
    {
      "name": "mfa"
    },
    {
      "name": "monitoring"
    },
    {
      "name": "notifications"
    },
    {
      "name": "oauth"
    },
    {
      "name": "persona"
    },
    {
      "name": "persona_memory"
    },
    {
      "name": "personal"
    },
    {
      "name": "project"
    },
    {
      "name": "public"
    },
    {
      "name": "registry"
    },
    {
      "name": "search"
    },
    {
      "name": "settings"
    },
    {
      "name": "storage"
    },
    {
      "name": "system"
    },
    {
      "name": "team"
    },
    {
      "name": "themes"
    },
    {
      "name": "usage"
    }
  ],
  "servers": [
    {
      "url": "https://api.agenticdeveloperhub.com",
      "description": "production"
    },
    {
      "url": "https://testing.api.agenticdeveloperhub.com",
      "description": "testing"
    },
    {
      "url": "http://localhost:3000",
      "description": "local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "avatarUrl",
          "slug",
          "publicProfileEnabled",
          "capabilities"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "publicProfileEnabled": {
            "type": "boolean",
            "description": "Whether the public profile card is visible at /public/users/:slug"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AuthResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken",
          "user"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token (Bearer credential)"
          },
          "refreshToken": {
            "type": "string",
            "description": "Opaque refresh token (rotated on use)"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "RefreshResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token (Bearer credential)"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "MfaChallenge": {
        "type": "object",
        "required": [
          "mfaRequired",
          "token",
          "methods"
        ],
        "properties": {
          "mfaRequired": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "token": {
            "type": "string",
            "description": "Short-lived MFA pending token"
          },
          "methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sms",
                "totp",
                "webauthn",
                "recovery"
              ]
            },
            "description": "Second factors the user can satisfy"
          }
        }
      },
      "ApiToken": {
        "type": "object",
        "required": [
          "id",
          "name",
          "prefix",
          "createdAt",
          "expiresAt",
          "lastUsedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Non-secret leading chars, for display"
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true
          },
          "scope": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "REST path prefixes this token may reach (e.g. [\"/content/markdown\"], optional \":read\" suffix, \"*\" = all). null = legacy curated-only."
          }
        }
      },
      "ApiTokenCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiToken"
          },
          {
            "type": "object",
            "required": [
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "description": "The raw token value — shown exactly once"
              }
            }
          }
        ]
      },
      "AiProcessingWebhookEndpoint": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "customerId",
          "url",
          "eventTypes",
          "active",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ownerId": {
            "type": "string",
            "description": "Ecosystem that owns this endpoint"
          },
          "customerId": {
            "type": "string",
            "description": "User who registered the endpoint"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS-only delivery target URL"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscribed event types (e.g. job.succeeded, job.failed)"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the endpoint receives deliveries"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable label"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp of last modification"
          }
        }
      },
      "AiProcessingWebhookEndpointCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AiProcessingWebhookEndpoint"
          },
          {
            "type": "object",
            "required": [
              "secret"
            ],
            "properties": {
              "secret": {
                "type": "string",
                "description": "whsec_-prefixed Standard Webhooks signing secret — returned exactly once. Store it; it cannot be retrieved again."
              }
            }
          }
        ]
      },
      "AiProcessingWebhookDelivery": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "endpointId",
          "eventId",
          "eventType",
          "payload",
          "status",
          "attempts",
          "maxAttempts",
          "nextAttemptAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ownerId": {
            "type": "string"
          },
          "endpointId": {
            "type": "string",
            "format": "uuid"
          },
          "eventId": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "description": "pending | delivered | failed | dead"
          },
          "attempts": {
            "type": "integer"
          },
          "maxAttempts": {
            "type": "integer"
          },
          "nextAttemptAt": {
            "type": "string"
          },
          "responseStatus": {
            "type": "integer",
            "nullable": true
          },
          "lastError": {
            "type": "string",
            "nullable": true
          },
          "deliveredAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "AiProcessingClaimedJob": {
        "type": "object",
        "required": [
          "id",
          "jobType",
          "targetKind",
          "targetId",
          "payload",
          "claimedAt",
          "leaseExpiresAt",
          "leaseToken"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "jobType": {
            "type": "string",
            "description": "Discriminator for worker routing (e.g. categorize_and_tag)"
          },
          "targetKind": {
            "type": "string",
            "description": "Namespace of the target entity (e.g. content.markdown)"
          },
          "targetId": {
            "type": "string",
            "description": "UUID of the target entity"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary job-specific input"
          },
          "claimedAt": {
            "type": "string",
            "description": "Drizzle-read timestamp of when the job was claimed"
          },
          "leaseExpiresAt": {
            "type": "string",
            "description": "Drizzle-read timestamp when the lease expires"
          },
          "leaseToken": {
            "type": "string",
            "description": "HMAC token required for heartbeat / complete / fail"
          }
        }
      },
      "AiProcessingJob": {
        "type": "object",
        "required": [
          "id",
          "jobType",
          "targetKind",
          "targetId",
          "status",
          "priority",
          "attempts",
          "maxAttempts",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "jobType": {
            "type": "string",
            "description": "Discriminator for worker routing (e.g. categorize_and_tag)"
          },
          "targetKind": {
            "type": "string",
            "description": "Namespace of the target entity (e.g. content.markdown)"
          },
          "targetId": {
            "type": "string",
            "description": "UUID of the target entity"
          },
          "status": {
            "type": "string",
            "description": "Current lifecycle status (queued | claimed | succeeded | dead)"
          },
          "priority": {
            "type": "integer",
            "description": "Higher value = claimed first; default 0"
          },
          "attempts": {
            "type": "integer",
            "description": "Number of claim attempts so far"
          },
          "maxAttempts": {
            "type": "integer",
            "description": "Maximum allowed claim attempts before dead-lettering"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the job was enqueued"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last status transition"
          }
        }
      },
      "AuthUserMethod": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "provider",
          "providerId",
          "hasCredential",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "providerId": {
            "type": "string",
            "nullable": true
          },
          "hasCredential": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "AuthMethodSetting": {
        "type": "object",
        "required": [
          "method",
          "enabled"
        ],
        "properties": {
          "method": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "BucketRow": {
        "type": "object",
        "additionalProperties": true,
        "description": "A bucket-table row. Intentionally open — the column set is defined at runtime by the developer-managed table this bucket points at, so no fixed property schema applies."
      },
      "BucketRowList": {
        "type": "object",
        "required": [
          "rows"
        ],
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketRow"
            }
          }
        }
      },
      "BucketAccessGroup": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "bucketId",
          "name",
          "description",
          "kind",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "owning ecosystem"
          },
          "bucketId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "description": "'everyone' (seeded) or 'custom'"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketAccessGroupMember": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "accessGroupId",
          "memberType",
          "memberId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "accessGroupId": {
            "type": "string"
          },
          "memberType": {
            "type": "string",
            "enum": [
              "user",
              "organization",
              "persona",
              "app"
            ]
          },
          "memberId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketGrant": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "accessGroupId",
          "targetType",
          "targetId",
          "crud",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "accessGroupId": {
            "type": "string"
          },
          "targetType": {
            "type": "string",
            "enum": [
              "bucket",
              "bucket_type",
              "row"
            ]
          },
          "targetId": {
            "type": "string"
          },
          "crud": {
            "type": "string",
            "description": "comma-separated CRUD subset, e.g. 'C,R,U,D' or '' (none)"
          },
          "grantedBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketAccessGroupDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BucketAccessGroup"
          },
          {
            "type": "object",
            "required": [
              "members",
              "grants"
            ],
            "properties": {
              "members": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BucketAccessGroupMember"
                }
              },
              "grants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BucketGrant"
                }
              }
            }
          }
        ]
      },
      "BucketAccessGroupList": {
        "type": "object",
        "required": [
          "accessGroups"
        ],
        "properties": {
          "accessGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketAccessGroup"
            }
          }
        }
      },
      "ChatConversation": {
        "type": "object",
        "required": [
          "id",
          "title",
          "model",
          "personaSlug",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "personaSlug": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "id",
          "role",
          "content",
          "toolName",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "description": "e.g. user, assistant, tool, system"
          },
          "content": {
            "type": "string"
          },
          "toolName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "ChatConversationDetail": {
        "type": "object",
        "required": [
          "conversation",
          "messages"
        ],
        "properties": {
          "conversation": {
            "$ref": "#/components/schemas/ChatConversation"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ChatConversationCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "model": {
            "type": "string"
          },
          "personaSlug": {
            "type": "string"
          }
        }
      },
      "ChatConversationRename": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        }
      },
      "ChatMessageEdit": {
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string"
          }
        }
      },
      "ChatSendMessage": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1
          },
          "clientMessageId": {
            "type": "string",
            "description": "Idempotency key for the user message"
          }
        }
      },
      "ChatStreamEvent": {
        "description": "One event in the SSE chat stream. The SSE `event:` name carries the discriminator (`open` | `token` | `tool_call_started` | `tool_call_completed` | `done` | `error`); the JSON `data:` payload is one of the shapes below.",
        "oneOf": [
          {
            "title": "ChatTokenEvent",
            "type": "object",
            "description": "token — a chunk of streamed assistant text",
            "required": [
              "text"
            ],
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          {
            "title": "ChatToolCallStartedEvent",
            "type": "object",
            "description": "tool_call_started — the model invoked a tool",
            "required": [
              "name",
              "arguments"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string",
                "description": "JSON-encoded tool arguments"
              }
            }
          },
          {
            "title": "ChatToolCallCompletedEvent",
            "type": "object",
            "description": "tool_call_completed — a tool finished",
            "required": [
              "name",
              "ok",
              "result"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "ok": {
                "type": "boolean"
              },
              "result": {
                "type": "string",
                "description": "JSON-encoded tool result"
              }
            }
          },
          {
            "title": "ChatDoneEvent",
            "type": "object",
            "description": "done — the turn completed (empty payload)"
          },
          {
            "title": "ChatErrorEvent",
            "type": "object",
            "description": "error — the turn failed; the message explains why (HTTP stays 200)",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        ]
      },
      "GamificationLevel": {
        "type": "object",
        "required": [
          "name",
          "minPoints",
          "sortOrder"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "minPoints": {
            "type": "integer",
            "description": "Inclusive point floor for this rung"
          },
          "sortOrder": {
            "type": "integer"
          },
          "subjectType": {
            "type": "string",
            "nullable": true,
            "description": "NULL = applies to any subject kind"
          }
        }
      },
      "GamificationBadge": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "criteriaType",
          "criteriaThreshold",
          "pointValue"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "criteriaType": {
            "type": "string"
          },
          "criteriaThreshold": {
            "type": "integer"
          },
          "pointValue": {
            "type": "integer"
          },
          "subjectType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GamificationLeaderboardEntry": {
        "type": "object",
        "required": [
          "subjectType",
          "subjectId",
          "avatarUrl",
          "totalPoints"
        ],
        "properties": {
          "subjectType": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Display name (users only)"
          },
          "avatarUrl": {
            "type": "string"
          },
          "totalPoints": {
            "type": "integer"
          },
          "level": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GamificationLeaderboard": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationLeaderboardEntry"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "GamificationSubjectBadge": {
        "type": "object",
        "required": [
          "id",
          "badgeId",
          "name",
          "description",
          "icon",
          "awardedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "badgeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "awardedAt": {
            "type": "string"
          }
        }
      },
      "GamificationSummary": {
        "type": "object",
        "required": [
          "subjectType",
          "subjectId",
          "totalPoints",
          "optedOut",
          "badges"
        ],
        "properties": {
          "subjectType": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "totalPoints": {
            "type": "integer"
          },
          "level": {
            "type": "string",
            "nullable": true
          },
          "optedOut": {
            "type": "boolean"
          },
          "badges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationSubjectBadge"
            }
          }
        }
      },
      "GamificationPoints": {
        "type": "object",
        "required": [
          "id",
          "amount",
          "reason",
          "sourceType",
          "sourceId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "GamificationPointsPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationPoints"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "GamificationAwardResult": {
        "type": "object",
        "required": [
          "awarded",
          "total",
          "newBadges"
        ],
        "properties": {
          "awarded": {
            "type": "boolean",
            "description": "false when the subject has opted out"
          },
          "total": {
            "type": "integer",
            "description": "The subject’s new point total"
          },
          "newBadges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationBadge"
            }
          }
        }
      },
      "GamificationPreference": {
        "type": "object",
        "required": [
          "subjectType",
          "subjectId",
          "optedOut"
        ],
        "properties": {
          "subjectType": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "optedOut": {
            "type": "boolean"
          }
        }
      },
      "CustomerAuthResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken",
          "customerId"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "End-customer access token (typ='customer' JWT, short-lived)"
          },
          "refreshToken": {
            "type": "string",
            "description": "Opaque customer-session refresh token (single-use; rotated on refresh)"
          },
          "customerId": {
            "type": "string",
            "description": "The end-customer id"
          }
        }
      },
      "CustomerResolveResult": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The stable ADH customer id for this externalId"
          }
        }
      },
      "CustomerRegisterResult": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The newly provisioned end-customer id"
          }
        }
      },
      "StringList": {
        "type": "object",
        "title": "StringList",
        "description": "A wrapper object `{ items: string[] }` (NOT a bare array). Returned by the tag/category facet and autocomplete endpoints.",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The string values."
          }
        }
      },
      "MarkdownDocument": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ownerId",
          "title",
          "content",
          "contentHash",
          "sizeBytes",
          "currentVersion",
          "tags",
          "published",
          "createdAt",
          "updatedAt",
          "isDeleted"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "Ecosystem (tenant) id."
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Full raw markdown, byte-exact."
          },
          "frontmatter": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true,
            "description": "Optional classification label."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tag set (defaults to [])."
          },
          "published": {
            "type": "boolean",
            "description": "True when readable on the public surface."
          },
          "publicRoute": {
            "type": "string",
            "nullable": true,
            "description": "Public route slug (non-null iff published); unique per author."
          },
          "contentHash": {
            "type": "string",
            "description": "SHA-256 hex of content (ETag)."
          },
          "sizeBytes": {
            "type": "integer"
          },
          "currentVersion": {
            "type": "integer",
            "description": "The current revision number (incremented on every edit)."
          },
          "latestVersionId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          }
        }
      },
      "MarkdownDocumentSummary": {
        "type": "object",
        "required": [
          "id",
          "title",
          "contentHash",
          "sizeBytes",
          "currentVersion",
          "tags",
          "published",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "frontmatter": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "published": {
            "type": "boolean"
          },
          "publicRoute": {
            "type": "string",
            "nullable": true
          },
          "contentHash": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "currentVersion": {
            "type": "integer"
          },
          "latestVersionId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "MarkdownDocumentVersion": {
        "type": "object",
        "required": [
          "id",
          "documentId",
          "customerId",
          "ownerId",
          "version",
          "title",
          "content",
          "contentHash",
          "sizeBytes",
          "createdAt",
          "isDeleted"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "documentId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ownerId": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "description": "Document title at this revision (full-state snapshot)."
          },
          "content": {
            "type": "string"
          },
          "contentHash": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "frontmatter": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "authorType": {
            "type": "string",
            "nullable": true
          },
          "authorId": {
            "type": "string",
            "nullable": true
          },
          "authorName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          }
        }
      },
      "MarkdownDocumentVersionSummary": {
        "type": "object",
        "required": [
          "id",
          "version",
          "title",
          "contentHash",
          "sizeBytes",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "contentHash": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "authorType": {
            "type": "string",
            "nullable": true
          },
          "authorId": {
            "type": "string",
            "nullable": true
          },
          "authorName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "MessagingLogEntry": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ownerId",
          "channel",
          "recipient",
          "body",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Target user (recipient) id"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ownerId": {
            "type": "string",
            "description": "Ecosystem (tenant) id"
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          },
          "recipient": {
            "type": "string",
            "description": "Resolved destination (email address or phone)"
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string"
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "failed"
            ],
            "description": "Send outcome"
          },
          "providerId": {
            "type": "string",
            "nullable": true,
            "description": "Provider message id (when sent)"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "sentBy": {
            "type": "string",
            "nullable": true,
            "description": "Admin user id who issued the send"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "MessagingLogPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessagingLogEntry"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "MessagingTemplate": {
        "type": "object",
        "required": [
          "id",
          "name",
          "subject",
          "htmlBody",
          "textBody",
          "category"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "htmlBody": {
            "type": "string"
          },
          "textBody": {
            "type": "string"
          },
          "smsBody": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "MessagingStatus": {
        "type": "object",
        "required": [
          "email",
          "sms"
        ],
        "properties": {
          "email": {
            "type": "boolean",
            "description": "Postmark configured + enabled"
          },
          "sms": {
            "type": "boolean",
            "description": "Twilio configured + enabled"
          }
        }
      },
      "MessagingSendResult": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "failed"
            ]
          },
          "providerId": {
            "type": "string",
            "description": "Provider message id (on success)"
          },
          "error": {
            "type": "string",
            "description": "Failure reason (on failure)"
          }
        }
      },
      "Notification": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "ownerId",
          "type",
          "topicId",
          "actorId",
          "isRead",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "topicId": {
            "type": "string"
          },
          "postId": {
            "type": "string",
            "nullable": true
          },
          "actorId": {
            "type": "string"
          },
          "isRead": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "NotificationPreference": {
        "type": "object",
        "required": [
          "category",
          "email",
          "sms"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "account",
              "community_reply",
              "community_mention",
              "admin_announcement"
            ]
          },
          "email": {
            "type": "boolean"
          },
          "sms": {
            "type": "boolean"
          }
        }
      },
      "Bookmark": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ownerId",
          "targetKind",
          "targetId",
          "notify",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "targetKind": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "notify": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ContactMethod": {
        "type": "object",
        "required": [
          "id",
          "type",
          "value",
          "verified",
          "isPrimary"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "phone"
            ]
          },
          "value": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "PrivacyGrant": {
        "type": "object",
        "required": [
          "targetTable",
          "targetId",
          "audienceMask"
        ],
        "properties": {
          "targetTable": {
            "type": "string",
            "enum": [
              "avatar",
              "social_links",
              "addresses",
              "contact_methods"
            ]
          },
          "targetId": {
            "type": "string"
          },
          "audienceMask": {
            "type": "integer"
          }
        }
      },
      "PersonaMemory": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "customerId",
          "personaId",
          "scope",
          "slug",
          "memoryType",
          "description",
          "body",
          "status",
          "source",
          "confidence",
          "tags",
          "recallCount",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "Ecosystem (tenant) id"
          },
          "customerId": {
            "type": "string",
            "description": "Owning user; empty for a global memory"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "personaId": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "user",
              "persona"
            ]
          },
          "slug": {
            "type": "string"
          },
          "memoryType": {
            "type": "string",
            "enum": [
              "user",
              "feedback",
              "project",
              "reference"
            ]
          },
          "description": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "subjectTable": {
            "type": "string",
            "nullable": true
          },
          "subjectId": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "superseded",
              "archived"
            ]
          },
          "supersedesId": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "enum": [
              "inferred",
              "user_stated",
              "tool"
            ]
          },
          "confidence": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "validFrom": {
            "type": "string",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "nullable": true
          },
          "recallCount": {
            "type": "integer"
          },
          "lastRecalledAt": {
            "type": "string",
            "nullable": true
          },
          "embeddingModel": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "PersonaMemoryMatch": {
        "type": "object",
        "required": [
          "id",
          "personaId",
          "scope",
          "slug",
          "memoryType",
          "description",
          "body",
          "confidence",
          "tags",
          "similarity"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "personaId": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "user",
              "persona"
            ]
          },
          "slug": {
            "type": "string"
          },
          "memoryType": {
            "type": "string",
            "enum": [
              "user",
              "feedback",
              "project",
              "reference"
            ]
          },
          "description": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "confidence": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "similarity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Cosine similarity, negatives clamped to 0"
          }
        }
      },
      "PersonaMemoryRecallResult": {
        "type": "object",
        "required": [
          "memories"
        ],
        "properties": {
          "memories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonaMemoryMatch"
            }
          }
        }
      },
      "PersonaMemoryEmbedResult": {
        "type": "object",
        "required": [
          "embedded",
          "failed",
          "more"
        ],
        "properties": {
          "embedded": {
            "type": "integer",
            "description": "Rows embedded this call"
          },
          "failed": {
            "type": "integer",
            "description": "Rows that failed to embed (retried next call)"
          },
          "more": {
            "type": "boolean",
            "description": "True if the batch filled `limit` — call again"
          }
        }
      },
      "PersonaService": {
        "type": "object",
        "required": [
          "id",
          "providerKind",
          "name",
          "baseUrl",
          "hasApiKey",
          "connectStatus",
          "models"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "providerKind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "hasApiKey": {
            "type": "boolean"
          },
          "connectStatus": {
            "type": "string"
          },
          "connectError": {
            "type": "string",
            "nullable": true
          },
          "lastConnectedAt": {
            "type": "string",
            "nullable": true
          },
          "documentationUrl": {
            "type": "string",
            "nullable": true
          },
          "statusUrl": {
            "type": "string",
            "nullable": true
          },
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonaServiceModel"
            }
          },
          "modelsFetchedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PersonaServiceModel": {
        "oneOf": [
          {
            "type": "string",
            "description": "Model id"
          },
          {
            "type": "object",
            "additionalProperties": true,
            "description": "Model descriptor"
          }
        ]
      },
      "PublicOwner": {
        "type": "object",
        "nullable": true,
        "required": [
          "slug",
          "displayName",
          "avatarUrl"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PublicPersona": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "description",
          "modelPrompt",
          "voice",
          "character",
          "examples",
          "visibility",
          "createdAt",
          "owner"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "modelPrompt": {
            "type": "string"
          },
          "voice": {
            "type": "string",
            "nullable": true
          },
          "character": {
            "type": "string",
            "nullable": true
          },
          "examples": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/PublicOwner"
          }
        }
      },
      "PublicPersonaSummary": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "description",
          "visibility",
          "createdAt",
          "owner"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/PublicOwner"
          }
        }
      },
      "PublicSocialLink": {
        "type": "object",
        "required": [
          "platform",
          "url",
          "handle"
        ],
        "properties": {
          "platform": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "handle": {
            "type": "string"
          }
        }
      },
      "PublicAddress": {
        "type": "object",
        "required": [
          "label",
          "line1",
          "line2",
          "city",
          "region",
          "postalCode",
          "country"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "PublicUserSearchHit": {
        "type": "object",
        "required": [
          "slug",
          "displayName",
          "avatarUrl"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PublicUserProfile": {
        "type": "object",
        "required": [
          "slug",
          "displayName",
          "avatarUrl",
          "createdAt",
          "socialLinks",
          "emails",
          "phones",
          "addresses",
          "personas"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "socialLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicSocialLink"
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicAddress"
            }
          },
          "personas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPersonaSummary"
            }
          }
        }
      },
      "PublicPaperSummary": {
        "type": "object",
        "required": [
          "route",
          "title",
          "category",
          "tags",
          "updatedAt"
        ],
        "properties": {
          "route": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "PublicPaperSearchHit": {
        "type": "object",
        "required": [
          "id",
          "title",
          "publicRoute",
          "author",
          "category",
          "tags",
          "snippet",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "publicRoute": {
            "type": "string",
            "description": "Published route slug; link as /public/users/{author.slug}/papers/{publicRoute}."
          },
          "author": {
            "type": "object",
            "required": [
              "slug",
              "displayName"
            ],
            "properties": {
              "slug": {
                "type": "string"
              },
              "displayName": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "snippet": {
            "type": "string",
            "description": "~200-char match-context excerpt around the first q hit (head of content when q is empty/absent)."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "PublicPaper": {
        "type": "object",
        "required": [
          "route",
          "title",
          "category",
          "tags",
          "content",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "route": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "content": {
            "type": "string",
            "description": "Full raw markdown, byte-exact."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "RegistryIdentifier": {
        "type": "object",
        "required": [
          "rdid",
          "entityType",
          "entityId",
          "createdBy"
        ],
        "properties": {
          "rdid": {
            "type": "string",
            "description": "Reverse-domain identifier (e.g. com.acme.app)"
          },
          "entityType": {
            "type": "string",
            "description": "e.g. 'namespace', 'ecosystem', 'organization'"
          },
          "entityId": {
            "type": "string",
            "description": "The UUID the rdid resolves to"
          },
          "createdBy": {
            "type": "string",
            "nullable": true,
            "description": "Minter; null for system mappings"
          }
        }
      },
      "RegistryNamespace": {
        "type": "object",
        "required": [
          "id",
          "ownerKind",
          "ownerId",
          "slug",
          "name",
          "rdid"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerKind": {
            "type": "string",
            "enum": [
              "customer",
              "organization"
            ]
          },
          "ownerId": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "rdid": {
            "type": "string",
            "nullable": true,
            "description": "The namespace reverse-domain prefix"
          }
        }
      },
      "RegistryNamespaceUpdate": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RegistryOrganization": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RegistryEcosystem": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "rdid"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "rdid": {
            "type": "string",
            "description": "Defaults to <namespace-prefix>.<slug>"
          }
        }
      },
      "RegistryProvisionedOrganization": {
        "type": "object",
        "required": [
          "organization",
          "namespace",
          "teamId",
          "ecosystem"
        ],
        "properties": {
          "organization": {
            "$ref": "#/components/schemas/RegistryOrganization"
          },
          "namespace": {
            "$ref": "#/components/schemas/RegistryNamespace"
          },
          "teamId": {
            "type": "string",
            "description": "The provisioned admin team id"
          },
          "ecosystem": {
            "$ref": "#/components/schemas/RegistryEcosystem"
          }
        }
      },
      "SearchDiscussionTopicResult": {
        "type": "object",
        "required": [
          "id",
          "title",
          "replyCount",
          "lastActivityAt",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "categoryId": {
            "type": "string",
            "nullable": true
          },
          "replyCount": {
            "type": "integer"
          },
          "lastActivityAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "SearchDiscussionPostResult": {
        "type": "object",
        "required": [
          "id",
          "topicId",
          "postNumber",
          "createdAt",
          "rank"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "topicId": {
            "type": "string"
          },
          "postNumber": {
            "type": "integer"
          },
          "bodyDocumentId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "rank": {
            "type": "number",
            "description": "ts_rank relevance score"
          }
        }
      },
      "SearchDocumentResult": {
        "type": "object",
        "required": [
          "blockId",
          "documentId",
          "blockType",
          "position",
          "snippet",
          "rank"
        ],
        "properties": {
          "blockId": {
            "type": "string"
          },
          "documentId": {
            "type": "string"
          },
          "blockType": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "snippet": {
            "type": "string",
            "description": "Plain-text excerpt (ts_headline, no markup)"
          },
          "rank": {
            "type": "number",
            "description": "ts_rank relevance score"
          }
        }
      },
      "SearchNoteResult": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ownerId",
          "title",
          "body",
          "occurredAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ownerId": {
            "type": "string"
          },
          "subjectTable": {
            "type": "string",
            "nullable": true
          },
          "subjectId": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "FeedItem": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ownerId",
          "source",
          "entityType",
          "action",
          "summary",
          "isRead",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ownerId": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string"
          },
          "actorId": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string"
          },
          "metadata": {
            "type": "string",
            "nullable": true
          },
          "isRead": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "FeedPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "FeedUnreadCount": {
        "type": "object",
        "required": [
          "count"
        ],
        "properties": {
          "count": {
            "type": "integer"
          }
        }
      },
      "FeedReadAllResult": {
        "type": "object",
        "required": [
          "updated"
        ],
        "properties": {
          "updated": {
            "type": "integer"
          }
        }
      },
      "SystemService": {
        "type": "object",
        "required": [
          "slug",
          "kind",
          "enabled",
          "configKeys",
          "updatedAt"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "configKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Names of configured keys; secret values are redacted."
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "SystemServiceUpsert": {
        "type": "object",
        "required": [
          "kind",
          "enabled",
          "config"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "enabled": {
            "type": "boolean"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Provider-specific config (may hold secrets); stored, never read back."
          }
        }
      },
      "TeamMember": {
        "type": "object",
        "required": [
          "id",
          "teamId",
          "userId",
          "role",
          "addedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "teamId": {
            "type": "string"
          },
          "userId": {
            "type": "string",
            "description": "the member customer id"
          },
          "role": {
            "type": "string"
          },
          "addedAt": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "the member's email (resolved)"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "TeamMemberList": {
        "type": "object",
        "required": [
          "members"
        ],
        "properties": {
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMember"
            }
          }
        }
      },
      "TeamMemberCounts": {
        "type": "object",
        "required": [
          "counts"
        ],
        "properties": {
          "counts": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "teamId",
                "count"
              ],
              "properties": {
                "teamId": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "StorageAttachment": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "customerId",
          "ownerType",
          "objectKey",
          "storageKind",
          "filename",
          "contentType",
          "sizeBytes",
          "contentHash",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "ownerType": {
            "type": "string",
            "description": "e.g. 'standalone', 'chat_message', 'document'"
          },
          "ownerId": {
            "type": "string",
            "nullable": true
          },
          "objectKey": {
            "type": "string",
            "description": "R2 object key the presigned URLs address."
          },
          "storageKind": {
            "type": "string",
            "description": "Backing store, e.g. 'r2'."
          },
          "filename": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "contentHash": {
            "type": "string"
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "durationMs": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "ready"
            ],
            "description": "'pending' (presigned, awaiting upload) → 'ready' (bytes confirmed)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Caller-supplied JSON metadata (jsonb) — intentionally open."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "StoragePresignedUpload": {
        "type": "object",
        "required": [
          "attachment",
          "uploadUrl"
        ],
        "properties": {
          "attachment": {
            "$ref": "#/components/schemas/StorageAttachment"
          },
          "uploadUrl": {
            "type": "string",
            "format": "uri",
            "description": "Presigned PUT URL — upload the bytes directly to R2."
          }
        }
      },
      "StorageDeduplicated": {
        "type": "object",
        "required": [
          "attachment",
          "deduplicated"
        ],
        "properties": {
          "attachment": {
            "$ref": "#/components/schemas/StorageAttachment"
          },
          "deduplicated": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        }
      },
      "StorageQuotaExceeded": {
        "type": "object",
        "required": [
          "error",
          "used",
          "quota",
          "requested"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          },
          "used": {
            "type": "integer",
            "description": "Bytes currently used by ready attachments."
          },
          "quota": {
            "type": "integer",
            "description": "The caller’s total quota in bytes."
          },
          "requested": {
            "type": "integer",
            "description": "Declared size of the rejected upload."
          }
        }
      },
      "StorageAttachmentEnvelope": {
        "type": "object",
        "required": [
          "attachment"
        ],
        "properties": {
          "attachment": {
            "$ref": "#/components/schemas/StorageAttachment"
          }
        }
      },
      "StorageDownload": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Presigned GET URL — download the bytes directly from R2."
          }
        }
      },
      "Theme": {
        "type": "object",
        "required": [
          "key",
          "label",
          "basedOn",
          "data",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "basedOn": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "UsageStorageQuota": {
        "type": "object",
        "required": [
          "quotaBytes",
          "usageBytes",
          "availableBytes"
        ],
        "properties": {
          "quotaBytes": {
            "type": "integer",
            "description": "Per-user quota in bytes (override or 5 GB default)"
          },
          "usageBytes": {
            "type": "integer",
            "description": "Live sum of ready, non-deleted attachment bytes"
          },
          "availableBytes": {
            "type": "integer",
            "description": "max(0, quotaBytes - usageBytes)"
          }
        }
      },
      "UsageStorageQuotaRow": {
        "type": "object",
        "required": [
          "userId",
          "ownerId",
          "quotaBytes",
          "updatedAt"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "Ecosystem id the override is scoped to"
          },
          "quotaBytes": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "Workspace": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "type"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "description": "Routable workspace slug (caller-scoped)"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "individual",
              "organization",
              "team"
            ]
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Liveness probe",
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/system/version": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Build / version info",
        "responses": {
          "200": {
            "description": "version"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Create an account (email + password)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "name"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "token + refreshToken + user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Sign in (may require a second factor)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "token + refreshToken + user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              }
            }
          },
          "202": {
            "description": "second factor required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MfaChallenge"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/mfa/sms/send": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Send the SMS login code to the verified primary phone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "MFA pending token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "code sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/mfa": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Complete login by satisfying the second factor → aal=2 session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "method",
                  "code"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "MFA pending token"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "totp",
                      "recovery"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "maxLength": 40
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "token + refreshToken + user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/mfa/webauthn/options": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "WebAuthn 2nd-factor: assertion options bound to the pending challenge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "MFA pending token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "options + next pending token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "options",
                    "token"
                  ],
                  "properties": {
                    "options": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "PublicKeyCredentialRequestOptionsJSON"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/mfa/webauthn": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "WebAuthn 2nd-factor: verify the assertion → aal=2 session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "response"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "response": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "AuthenticationResponseJSON"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "token + refreshToken + user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/webauthn/options": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Passwordless passkey: assertion options for an account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Email or login slug"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "options + login challenge token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "options",
                    "token"
                  ],
                  "properties": {
                    "options": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login/webauthn": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Passwordless passkey: verify the assertion → aal=2 session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "response"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "response": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "AuthenticationResponseJSON"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "token + refreshToken + user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Rotate refresh token → new JWT",
        "responses": {
          "200": {
            "description": "token + refreshToken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResult"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/revoke": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Sign out (revoke refresh token)",
        "responses": {
          "204": {
            "description": "revoked"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "auth"
        ],
        "summary": "Update the caller's own profile (name, slug, avatar, public-profile toggle)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "At least one profile field is required.",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "slug": {
                    "type": "string",
[...]
