{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Agentic Developer Hub API",
    "description" : "Backend API for the Agentic Developer Hub ecosystem.\n\nConsumers: temporal.today (web app), admin.temporal.today (admin\ndashboard), native iOS/macOS/Android/Windows clients, and the\nmacOS/Windows daemons.\n\n## Authentication\n\nProtected endpoints require a JWT bearer token in the\nAuthorization header. Obtain a token via one of:\n\n- **Provider-agnostic OAuth** — `GET /api/auth/providers` to\n  discover providers, then `POST /api/auth/complete` (direct)\n  or `GET /api/auth/start` → callback → `POST /api/auth/exchange`\n  (redirect flow). Supports OAuth2 code, access-token, and\n  OIDC id-token auth types.\n- **Google OAuth (legacy)** — `POST /api/auth/google` with a\n  Google ID token.\n- **Email / password** — `POST /api/auth/register` or\n  `POST /api/auth/login`.\n\n## Admin endpoints\n\nRoutes under `/api/admin/` require the caller to hold the\n`admin` capability. They manage OAuth clients, user roles,\npersonas, persona services, integration configs, and messaging.\n\n## WebSocket\n\nReal-time events (replies, notifications, typing, presence, DMs)\nflow over a multiplexed WebSocket at `ws://host/ws/discussions`.\nThe first message must be the JWT; subsequent messages are JSON\nenvelopes — see the shared/model package for message shapes.\n\n## Webhooks\n\nInbound webhook receivers (e.g. Google Calendar push\nnotifications) live under `/api/webhooks/`. These are called by\nexternal services, not by API consumers.",
    "version" : "1.0.0"
  },
  "externalDocs" : {
    "url" : "/"
  },
  "servers" : [ {
    "url" : "https://api.agenticdeveloperhub.com",
    "description" : "Production"
  } ],
  "tags" : [ ],
  "paths" : {
    "" : {
      "get" : {
        "tags" : [ ],
        "parameters" : [ ],
        "responses" : { },
        "deprecated" : false
      }
    },
    "/health" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Liveness check",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/health/live" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Liveness check (alias)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/health/ready" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "Readiness check including database connectivity",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Ready",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "503" : {
            "description" : "Database disconnected",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/version" : {
      "get" : {
        "tags" : [ "Operations" ],
        "description" : "API version, minimum client version, and current DB schema version",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Version info",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.VersionResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/google" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Sign in with a Google ID token. Verifies with Google, creates user on first sign-in, returns Temporal JWT + refresh token.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.GoogleAuthRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Authenticated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.AuthResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Google token verification failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/register" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Create a new account with email + password",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.EmailRegisterRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Account created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.AuthResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid email/password/name",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Email already registered",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Email authentication not configured",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/login" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Sign in with email + password",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.EmailLoginRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Authenticated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.AuthResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid credentials or password not set",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Email authentication not configured",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/refresh" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Exchange a refresh token for a new JWT + rotated refresh token. Reads the refresh token from the `refresh_token` cookie; falls back to the request body for clients that haven't migrated.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.RefreshRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Refreshed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.RefreshResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired refresh token",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/revoke" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Revoke a refresh token (sign out). Reads the token from the `refresh_token` cookie; falls back to the request body. Clears the cookie on the response.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.RevokeRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Token revoked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "No refresh token supplied",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/me" : {
      "get" : {
        "tags" : [ "Authentication" ],
        "description" : "Return the authenticated user (with capabilities)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Current user",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.User"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/revoke-all" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Revoke every refresh token owned by the caller (sign out of all sessions)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "All sessions revoked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/link-password" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Add password authentication to an existing account (e.g. Google-only)",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.LinkPasswordRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Password set",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Password too short",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Email authentication not configured",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or missing JWT",
            "headers" : { }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/change-password" : {
      "post" : {
        "tags" : [ "Authentication" ],
        "description" : "Change the caller's password. Requires the current password; revokes all refresh tokens on success.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.ChangePasswordRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Password changed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "New password too short",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Current password did not match",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "No password is set on this account — use /auth/link-password",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Email authentication not configured",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/providers" : {
      "get" : {
        "tags" : [ "OAuth" ],
        "description" : "List OAuth providers allowed for a given client",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client slug",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Provider list",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.backend.routes.ProviderListItem"
                  },
                  "title" : "List<ProviderListItem>"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing clientId",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Client not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/complete" : {
      "post" : {
        "tags" : [ "OAuth" ],
        "description" : "Complete an OAuth sign-in (any provider, any auth type). Internal clients omit the Authorization header; external clients must present a Bearer app token.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.CompleteAuthRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "JWT + refresh token + user",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.OAuthAuthResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/start" : {
      "get" : {
        "tags" : [ "OAuth" ],
        "description" : "Initiate a redirect-based OAuth flow (oauth2_code providers only). Redirects the browser to the provider's authorize URL.",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client slug",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "providerId",
          "in" : "query",
          "description" : "Provider slug",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "return",
          "in" : "query",
          "description" : "URL to redirect back to after auth",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Redirect to OAuth provider",
            "headers" : { }
          },
          "400" : {
            "description" : "Missing or invalid parameters",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Client or provider not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/callback" : {
      "get" : {
        "tags" : [ "OAuth" ],
        "description" : "OAuth provider callback. Exchanges the provider's authorization code for a single-use exchange code and redirects back to the client's return URL with the code in the fragment.",
        "parameters" : [ {
          "name" : "code",
          "in" : "query",
          "description" : "Authorization code from the OAuth provider",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Signed state parameter",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Redirect to return URL with exchange code in fragment",
            "headers" : { }
          },
          "400" : {
            "description" : "Missing or invalid parameters",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/exchange" : {
      "post" : {
        "tags" : [ "OAuth" ],
        "description" : "Exchange a single-use code (from the callback redirect) for a JWT and refresh token",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.ExchangeRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "JWT + refresh token + user",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.OAuthAuthResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Code unknown or expired",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/webhooks/google/calendar" : {
      "post" : {
        "tags" : [ "Webhooks" ],
        "description" : "Receive Google Calendar push notifications. Google sends channel ID and resource state in headers.",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Acknowledged",
            "headers" : { }
          },
          "400" : {
            "description" : "Missing X-Goog-Channel-ID header",
            "headers" : { }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/tokens" : {
      "get" : {
        "tags" : [ "API Tokens" ],
        "description" : "List the authenticated user's API tokens (returns metadata only — never the token value)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Token list",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.backend.routes.ApiTokenResponse"
                  },
                  "title" : "List<ApiTokenResponse>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "API Tokens" ],
        "description" : "Create a new API token (raw token returned ONCE in this response)",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.CreateApiTokenRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Token created (with raw value)",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.CreatedApiTokenResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/tokens/{id}" : {
      "delete" : {
        "tags" : [ "API Tokens" ],
        "description" : "Revoke (delete) an API token",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Token ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Revoked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/settings" : {
      "get" : {
        "tags" : [ "Settings" ],
        "description" : "Get all settings for the authenticated user",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Settings map",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Settings" ],
        "description" : "Set multiple settings in a single request (typically on app sync)",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.SetAllSettingsRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Settings updated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "integer",
                    "format" : "int32",
                    "title" : "Int"
                  },
                  "title" : "Map<String,Int>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/settings/{key}" : {
      "get" : {
        "tags" : [ "Settings" ],
        "description" : "Get a single setting by key",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Setting",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Settings" ],
        "description" : "Set a single setting by key",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.SetSettingRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Setting saved",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Settings" ],
        "description" : "Delete a setting by key",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/contents" : {
      "get" : {
        "tags" : [ "Content" ],
        "description" : "List all content items owned by the authenticated user",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Content list",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.shared.model.Content"
                  },
                  "title" : "List<Content>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Content" ],
        "description" : "Create a new content item",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.CreateContentRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Content"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/contents/{id}" : {
      "get" : {
        "tags" : [ "Content" ],
        "description" : "Get a single content item by ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Content UUID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Content item",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Content"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Content" ],
        "description" : "Update a content item (records edit operations for sync)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Content UUID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.UpdateContentRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Updated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Content"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Content" ],
        "description" : "Soft-delete a content item",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Content UUID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/mydata/tables" : {
      "get" : {
        "tags" : [ "My Data" ],
        "description" : "List all available data tables with row counts",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Table summaries",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.backend.mydata.TableSummary"
                  },
                  "title" : "List<TableSummary>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/mydata/tables/{id}/metadata" : {
      "get" : {
        "tags" : [ "My Data" ],
        "description" : "Get column metadata for a data table",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Table ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Table metadata",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.mydata.TableMetadata"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/mydata/tables/{id}/rows" : {
      "get" : {
        "tags" : [ "My Data" ],
        "description" : "Get paginated rows from a data table",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Table ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (1-based, default 1)",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "title" : "Int"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "Rows per page (1–200, default 50)",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "title" : "Int"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Paginated rows",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.mydata.TableRowsPage"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "My Data" ],
        "description" : "Create a new row in a data table (not yet implemented)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Table ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "description" : "Column values keyed by column id",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : {
                  "$ref" : "*"
                },
                "title" : "JsonObject"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Row created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "*"
                  },
                  "title" : "JsonObject"
                }
              }
            }
          },
          "501" : {
            "description" : "Per-table write support has not yet been designed",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/mydata/tables/{id}/rows/{rowId}" : {
      "put" : {
        "tags" : [ "My Data" ],
        "description" : "Replace a row in a data table (not yet implemented)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Table ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "Row ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "description" : "Column values keyed by column id",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "additionalProperties" : {
                  "$ref" : "*"
                },
                "title" : "JsonObject"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Row updated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "*"
                  },
                  "title" : "JsonObject"
                }
              }
            }
          },
          "501" : {
            "description" : "Per-table write support has not yet been designed",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "My Data" ],
        "description" : "Delete a row from a data table (not yet implemented)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Table ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "Row ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Row deleted",
            "headers" : { }
          },
          "501" : {
            "description" : "Per-table write support has not yet been designed",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/projects" : {
      "get" : {
        "tags" : [ "Projects" ],
        "description" : "List all projects owned by the authenticated user",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Project list",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.shared.model.Project"
                  },
                  "title" : "List<Project>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Projects" ],
        "description" : "Create a new project",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.Project"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Project"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/projects/{id}" : {
      "get" : {
        "tags" : [ "Projects" ],
        "description" : "Get a single project by ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Project UUID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Project",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Project"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Projects" ],
        "description" : "Update a project (records edit operations for sync)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Project UUID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.Project"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Updated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Project"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Projects" ],
        "description" : "Soft-delete a project",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Project UUID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/documents/search" : {
      "get" : {
        "tags" : [ "Documents" ],
        "description" : "Full-text search the user's documents",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "Search query",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Max results (1-100, default 30)",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "title" : "Int"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Search results",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.DocumentSearchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/documents" : {
      "get" : {
        "tags" : [ "Documents" ],
        "description" : "List the authenticated user's documents",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Document list",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.shared.model.Document"
                  },
                  "title" : "List<Document>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Documents" ],
        "description" : "Create a new document",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.CreateDocumentRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Document"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/documents/{id}" : {
      "get" : {
        "tags" : [ "Documents" ],
        "description" : "Get full document detail (blocks, marks, attachments)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Document UUID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Document detail",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.DocumentDetailResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Documents" ],
        "description" : "Soft-delete a document",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Document UUID",
[...]
