{
  "openapi": "3.1.0",
  "info": {
    "title": "ADH Backend",
    "version": "0.0.0",
    "description": "Generated from the Drizzle schema. CRUD routes are derived per table (/<schema>/<resource>); the non-CRUD surface (auth, oauth, chat, registry, customer, storage, search, messaging, notifications, and more) is hand-written in src/openapi/paths/* and kept in sync with the routes by a drift guard."
  },
  "tags": [
    {
      "name": "auth"
    },
    {
      "name": "billing"
    },
    {
      "name": "buckets"
    },
    {
      "name": "chat"
    },
    {
      "name": "community"
    },
    {
      "name": "customer"
    },
    {
      "name": "data"
    },
    {
      "name": "ecosystems"
    },
    {
      "name": "integrations"
    },
    {
      "name": "messaging"
    },
    {
      "name": "monitored_sites"
    },
    {
      "name": "notifications"
    },
    {
      "name": "oauth"
    },
    {
      "name": "persona"
    },
    {
      "name": "persona_memory"
    },
    {
      "name": "public"
    },
    {
      "name": "registry"
    },
    {
      "name": "search"
    },
    {
      "name": "settings"
    },
    {
      "name": "site"
    },
    {
      "name": "storage"
    },
    {
      "name": "team"
    },
    {
      "name": "usage"
    },
    {
      "name": "userdata"
    }
  ],
  "servers": [
    {
      "url": "https://api.agenticdeveloperstorage.com",
      "description": "production"
    },
    {
      "url": "https://testing.api.agenticdeveloperstorage.com",
      "description": "testing"
    },
    {
      "url": "http://localhost:3000",
      "description": "local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "avatarUrl",
          "slug",
          "capabilities"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AuthResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken",
          "user"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token (Bearer credential)"
          },
          "refreshToken": {
            "type": "string",
            "description": "Opaque refresh token (rotated on use)"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "RefreshResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token (Bearer credential)"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "ApiToken": {
        "type": "object",
        "required": [
          "id",
          "name",
          "prefix",
          "createdAt",
          "expiresAt",
          "lastUsedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Non-secret leading chars, for display"
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ApiTokenCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiToken"
          },
          {
            "type": "object",
            "required": [
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "description": "The raw token value — shown exactly once"
              }
            }
          }
        ]
      },
      "AuthUserMethod": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "provider",
          "providerId",
          "hasCredential",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "providerId": {
            "type": "string",
            "nullable": true
          },
          "hasCredential": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "AuthMethodSetting": {
        "type": "object",
        "required": [
          "method",
          "enabled"
        ],
        "properties": {
          "method": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "BucketRow": {
        "type": "object",
        "additionalProperties": true,
        "description": "A bucket-table row. Intentionally open — the column set is defined at runtime by the developer-managed table this bucket points at, so no fixed property schema applies."
      },
      "BucketRowList": {
        "type": "object",
        "required": [
          "rows"
        ],
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketRow"
            }
          }
        }
      },
      "ChatConversation": {
        "type": "object",
        "required": [
          "id",
          "title",
          "model",
          "personaSlug",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "personaSlug": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "id",
          "role",
          "content",
          "toolName",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "description": "e.g. user, assistant, tool, system"
          },
          "content": {
            "type": "string"
          },
          "toolName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "ChatConversationDetail": {
        "type": "object",
        "required": [
          "conversation",
          "messages"
        ],
        "properties": {
          "conversation": {
            "$ref": "#/components/schemas/ChatConversation"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ChatConversationCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "model": {
            "type": "string"
          },
          "personaSlug": {
            "type": "string"
          }
        }
      },
      "ChatConversationRename": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        }
      },
      "ChatMessageEdit": {
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string"
          }
        }
      },
      "ChatSendMessage": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1
          },
          "clientMessageId": {
            "type": "string",
            "description": "Idempotency key for the user message"
          }
        }
      },
      "ChatStreamEvent": {
        "description": "One event in the SSE chat stream. The SSE `event:` name carries the discriminator (`open` | `token` | `tool_call_started` | `tool_call_completed` | `done` | `error`); the JSON `data:` payload is one of the shapes below.",
        "oneOf": [
          {
            "title": "ChatTokenEvent",
            "type": "object",
            "description": "token — a chunk of streamed assistant text",
            "required": [
              "text"
            ],
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          {
            "title": "ChatToolCallStartedEvent",
            "type": "object",
            "description": "tool_call_started — the model invoked a tool",
            "required": [
              "name",
              "arguments"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string",
                "description": "JSON-encoded tool arguments"
              }
            }
          },
          {
            "title": "ChatToolCallCompletedEvent",
            "type": "object",
            "description": "tool_call_completed — a tool finished",
            "required": [
              "name",
              "ok",
              "result"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "ok": {
                "type": "boolean"
              },
              "result": {
                "type": "string",
                "description": "JSON-encoded tool result"
              }
            }
          },
          {
            "title": "ChatDoneEvent",
            "type": "object",
            "description": "done — the turn completed (empty payload)"
          },
          {
            "title": "ChatErrorEvent",
            "type": "object",
            "description": "error — the turn failed; the message explains why (HTTP stays 200)",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        ]
      },
      "CommunityLevel": {
        "type": "object",
        "required": [
          "name",
          "minPoints"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Level name (e.g. Newcomer, Champion)"
          },
          "minPoints": {
            "type": "integer",
            "description": "Inclusive point floor for this level"
          }
        }
      },
      "CommunityBadge": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "criteriaType",
          "criteriaThreshold",
          "pointValue"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "criteriaType": {
            "type": "string"
          },
          "criteriaThreshold": {
            "type": "integer"
          },
          "pointValue": {
            "type": "integer"
          }
        }
      },
      "CommunityUserBadge": {
        "type": "object",
        "required": [
          "id",
          "badgeType",
          "name",
          "description",
          "icon",
          "awardedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "badgeType": {
            "type": "string",
            "description": "badge_definitions.id this award maps to"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "awardedAt": {
            "type": "string"
          }
        }
      },
      "CommunityLeaderboardEntry": {
        "type": "object",
        "required": [
          "userId",
          "name",
          "avatarUrl",
          "totalPoints",
          "level"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "customer.customers.display_name"
          },
          "avatarUrl": {
            "type": "string"
          },
          "totalPoints": {
            "type": "integer",
            "description": "SUM(amount) over the selected period"
          },
          "level": {
            "type": "string",
            "description": "Level name computed from totalPoints"
          }
        }
      },
      "CommunityLeaderboard": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommunityLeaderboardEntry"
            }
          },
          "total": {
            "type": "integer",
            "description": "Distinct ranked users in the period"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "CommunityPoints": {
        "type": "object",
        "required": [
          "id",
          "amount",
          "reason",
          "sourceType",
          "sourceId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "CommunityPointsPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommunityPoints"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "CustomerAuthResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken",
          "customerId"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "End-customer access token (typ='customer' JWT, short-lived)"
          },
          "refreshToken": {
            "type": "string",
            "description": "Opaque customer-session refresh token (single-use; rotated on refresh)"
          },
          "customerId": {
            "type": "string",
            "description": "The end-customer id"
          }
        }
      },
      "CustomerResolveResult": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The stable ADH customer id for this externalId"
          }
        }
      },
      "CustomerRegisterResult": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The newly provisioned end-customer id"
          }
        }
      },
      "MessagingLogEntry": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ownerId",
          "channel",
          "recipient",
          "body",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Target user (recipient) id"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ownerId": {
            "type": "string",
            "description": "Ecosystem (tenant) id"
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          },
          "recipient": {
            "type": "string",
            "description": "Resolved destination (email address or phone)"
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string"
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "failed"
            ],
            "description": "Send outcome"
          },
          "providerId": {
            "type": "string",
            "nullable": true,
            "description": "Provider message id (when sent)"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "sentBy": {
            "type": "string",
            "nullable": true,
            "description": "Admin user id who issued the send"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "MessagingLogPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessagingLogEntry"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "MessagingTemplate": {
        "type": "object",
        "required": [
          "id",
          "name",
          "subject",
          "htmlBody",
          "textBody",
          "category"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "htmlBody": {
            "type": "string"
          },
          "textBody": {
            "type": "string"
          },
          "smsBody": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "MessagingStatus": {
        "type": "object",
        "required": [
          "email",
          "sms"
        ],
        "properties": {
          "email": {
            "type": "boolean",
            "description": "Postmark configured + enabled"
          },
          "sms": {
            "type": "boolean",
            "description": "Twilio configured + enabled"
          }
        }
      },
      "MessagingSendResult": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "failed"
            ]
          },
          "providerId": {
            "type": "string",
            "description": "Provider message id (on success)"
          },
          "error": {
            "type": "string",
            "description": "Failure reason (on failure)"
          }
        }
      },
      "Notification": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "ecosystemId",
          "type",
          "threadId",
          "actorId",
          "isRead",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "threadId": {
            "type": "string"
          },
          "replyId": {
            "type": "string",
            "nullable": true
          },
          "actorId": {
            "type": "string"
          },
          "isRead": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "NotificationPreference": {
        "type": "object",
        "required": [
          "category",
          "email",
          "sms"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "account",
              "community_reply",
              "community_mention",
              "admin_announcement"
            ]
          },
          "email": {
            "type": "boolean"
          },
          "sms": {
            "type": "boolean"
          }
        }
      },
      "PersonaMemory": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "customerId",
          "personaId",
          "scope",
          "slug",
          "memoryType",
          "description",
          "body",
          "status",
          "source",
          "confidence",
          "tags",
          "recallCount",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "Ecosystem (tenant) id"
          },
          "customerId": {
            "type": "string",
            "description": "Owning user; empty for a global memory"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "personaId": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "user",
              "persona"
            ]
          },
          "slug": {
            "type": "string"
          },
          "memoryType": {
            "type": "string",
            "enum": [
              "user",
              "feedback",
              "project",
              "reference"
            ]
          },
          "description": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "subjectTable": {
            "type": "string",
            "nullable": true
          },
          "subjectId": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "superseded",
              "archived"
            ]
          },
          "supersedesId": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "enum": [
              "inferred",
              "user_stated",
              "tool"
            ]
          },
          "confidence": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "validFrom": {
            "type": "string",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "nullable": true
          },
          "recallCount": {
            "type": "integer"
          },
          "lastRecalledAt": {
            "type": "string",
            "nullable": true
          },
          "embeddingModel": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "PersonaMemoryMatch": {
        "type": "object",
        "required": [
          "id",
          "personaId",
          "scope",
          "slug",
          "memoryType",
          "description",
          "body",
          "confidence",
          "tags",
          "similarity"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "personaId": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "user",
              "persona"
            ]
          },
          "slug": {
            "type": "string"
          },
          "memoryType": {
            "type": "string",
            "enum": [
              "user",
              "feedback",
              "project",
              "reference"
            ]
          },
          "description": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "confidence": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "similarity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Cosine similarity, negatives clamped to 0"
          }
        }
      },
      "PersonaMemoryRecallResult": {
        "type": "object",
        "required": [
          "memories"
        ],
        "properties": {
          "memories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonaMemoryMatch"
            }
          }
        }
      },
      "PersonaMemoryEmbedResult": {
        "type": "object",
        "required": [
          "embedded",
          "failed",
          "more"
        ],
        "properties": {
          "embedded": {
            "type": "integer",
            "description": "Rows embedded this call"
          },
          "failed": {
            "type": "integer",
            "description": "Rows that failed to embed (retried next call)"
          },
          "more": {
            "type": "boolean",
            "description": "True if the batch filled `limit` — call again"
          }
        }
      },
      "PersonaService": {
        "type": "object",
        "required": [
          "id",
          "providerKind",
          "name",
          "baseUrl",
          "hasApiKey",
          "connectStatus",
          "models"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "providerKind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "baseUrl": {
            "type": "string"
          },
          "hasApiKey": {
            "type": "boolean"
          },
          "connectStatus": {
            "type": "string"
          },
          "connectError": {
            "type": "string",
            "nullable": true
          },
          "lastConnectedAt": {
            "type": "string",
            "nullable": true
          },
          "documentationUrl": {
            "type": "string",
            "nullable": true
          },
          "statusUrl": {
            "type": "string",
            "nullable": true
          },
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonaServiceModel"
            }
          },
          "modelsFetchedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PersonaServiceModel": {
        "oneOf": [
          {
            "type": "string",
            "description": "Model id"
          },
          {
            "type": "object",
            "additionalProperties": true,
            "description": "Model descriptor"
          }
        ]
      },
      "PublicOwner": {
        "type": "object",
        "nullable": true,
        "required": [
          "slug",
          "displayName",
          "avatarUrl"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PublicPersona": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "description",
          "modelPrompt",
          "voice",
          "character",
          "examples",
          "visibility",
          "createdAt",
          "owner"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "modelPrompt": {
            "type": "string"
          },
          "voice": {
            "type": "string",
            "nullable": true
          },
          "character": {
            "type": "string",
            "nullable": true
          },
          "examples": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/PublicOwner"
          }
        }
      },
      "PublicPersonaSummary": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "description",
          "visibility",
          "createdAt",
          "owner"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/PublicOwner"
          }
        }
      },
      "PublicUserProfile": {
        "type": "object",
        "required": [
          "slug",
          "displayName",
          "avatarUrl",
          "createdAt",
          "personas"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "personas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPersonaSummary"
            }
          }
        }
      },
      "RegistryIdentifier": {
        "type": "object",
        "required": [
          "rdid",
          "entityType",
          "entityId",
          "createdBy"
        ],
        "properties": {
          "rdid": {
            "type": "string",
            "description": "Reverse-domain identifier (e.g. com.acme.app)"
          },
          "entityType": {
            "type": "string",
            "description": "e.g. 'namespace', 'ecosystem', 'organization'"
          },
          "entityId": {
            "type": "string",
            "description": "The UUID the rdid resolves to"
          },
          "createdBy": {
            "type": "string",
            "nullable": true,
            "description": "Minter; null for system mappings"
          }
        }
      },
      "RegistryNamespace": {
        "type": "object",
        "required": [
          "id",
          "ownerKind",
          "ownerId",
          "slug",
          "name",
          "rdid"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ownerKind": {
            "type": "string",
            "enum": [
              "customer",
              "organization"
            ]
          },
          "ownerId": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "rdid": {
            "type": "string",
            "nullable": true,
            "description": "The namespace reverse-domain prefix"
          }
        }
      },
      "RegistryNamespaceUpdate": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RegistryOrganization": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RegistryEcosystem": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "rdid"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "rdid": {
            "type": "string",
            "description": "Defaults to <namespace-prefix>.<slug>"
          }
        }
      },
      "RegistryProvisionedOrganization": {
        "type": "object",
        "required": [
          "organization",
          "namespace",
          "teamId",
          "ecosystem"
        ],
        "properties": {
          "organization": {
            "$ref": "#/components/schemas/RegistryOrganization"
          },
          "namespace": {
            "$ref": "#/components/schemas/RegistryNamespace"
          },
          "teamId": {
            "type": "string",
            "description": "The provisioned admin team id"
          },
          "ecosystem": {
            "$ref": "#/components/schemas/RegistryEcosystem"
          }
        }
      },
      "SearchDiscussionThreadResult": {
        "type": "object",
        "required": [
          "id",
          "title",
          "body",
          "authorId",
          "categoryId",
          "createdAt",
          "rank"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "authorId": {
            "type": "string"
          },
          "categoryId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "rank": {
            "type": "number",
            "description": "ts_rank relevance score"
          }
        }
      },
      "SearchDiscussionReplyResult": {
        "type": "object",
        "required": [
          "id",
          "threadId",
          "body",
          "authorId",
          "createdAt",
          "rank"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "threadId": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "authorId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "rank": {
            "type": "number",
            "description": "ts_rank relevance score"
          }
        }
      },
      "SearchDocumentResult": {
        "type": "object",
        "required": [
          "blockId",
          "documentId",
          "blockType",
          "position",
          "snippet",
          "rank"
        ],
        "properties": {
          "blockId": {
            "type": "string"
          },
          "documentId": {
            "type": "string"
          },
          "blockType": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "snippet": {
            "type": "string",
            "description": "Plain-text excerpt (ts_headline, no markup)"
          },
          "rank": {
            "type": "number",
            "description": "ts_rank relevance score"
          }
        }
      },
      "SearchNoteResult": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ownerId",
          "title",
          "body",
          "occurredAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ownerId": {
            "type": "string"
          },
          "subjectTable": {
            "type": "string",
            "nullable": true
          },
          "subjectId": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "occurredAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "SiteFeedItem": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ownerId",
          "source",
          "entityType",
          "action",
          "summary",
          "isRead",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ownerId": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string"
          },
          "actorId": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string"
          },
          "metadata": {
            "type": "string",
            "nullable": true
          },
          "isRead": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "SiteFeedPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteFeedItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "SiteFeedUnreadCount": {
        "type": "object",
        "required": [
          "count"
        ],
        "properties": {
          "count": {
            "type": "integer"
          }
        }
      },
      "SiteFeedReadAllResult": {
        "type": "object",
        "required": [
          "updated"
        ],
        "properties": {
          "updated": {
            "type": "integer"
          }
        }
      },
      "SiteService": {
        "type": "object",
        "required": [
          "slug",
          "kind",
          "enabled",
          "configKeys",
          "updatedAt"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "configKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Names of configured keys; secret values are redacted."
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "SiteServiceUpsert": {
        "type": "object",
        "required": [
          "kind",
          "enabled",
          "config"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "enabled": {
            "type": "boolean"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Provider-specific config (may hold secrets); stored, never read back."
          }
        }
      },
      "StorageAttachment": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "customerId",
          "ownerType",
          "objectKey",
          "storageKind",
          "filename",
          "contentType",
          "sizeBytes",
          "contentHash",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "ownerType": {
            "type": "string",
            "description": "e.g. 'standalone', 'chat_message', 'document'"
          },
          "ownerId": {
            "type": "string",
            "nullable": true
          },
          "objectKey": {
            "type": "string",
            "description": "R2 object key the presigned URLs address."
          },
          "storageKind": {
            "type": "string",
            "description": "Backing store, e.g. 'r2'."
          },
          "filename": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "contentHash": {
            "type": "string"
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "durationMs": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "ready"
            ],
            "description": "'pending' (presigned, awaiting upload) → 'ready' (bytes confirmed)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Caller-supplied JSON metadata (jsonb) — intentionally open."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "StoragePresignedUpload": {
        "type": "object",
        "required": [
          "attachment",
          "uploadUrl"
        ],
        "properties": {
          "attachment": {
            "$ref": "#/components/schemas/StorageAttachment"
          },
          "uploadUrl": {
            "type": "string",
            "format": "uri",
            "description": "Presigned PUT URL — upload the bytes directly to R2."
          }
        }
      },
      "StorageDeduplicated": {
        "type": "object",
        "required": [
          "attachment",
          "deduplicated"
        ],
        "properties": {
          "attachment": {
            "$ref": "#/components/schemas/StorageAttachment"
          },
          "deduplicated": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        }
      },
      "StorageQuotaExceeded": {
        "type": "object",
        "required": [
          "error",
          "used",
          "quota",
          "requested"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          },
          "used": {
            "type": "integer",
            "description": "Bytes currently used by ready attachments."
          },
          "quota": {
            "type": "integer",
            "description": "The caller’s total quota in bytes."
          },
          "requested": {
            "type": "integer",
            "description": "Declared size of the rejected upload."
          }
        }
      },
      "StorageAttachmentEnvelope": {
        "type": "object",
        "required": [
          "attachment"
        ],
        "properties": {
          "attachment": {
            "$ref": "#/components/schemas/StorageAttachment"
          }
        }
      },
      "StorageDownload": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Presigned GET URL — download the bytes directly from R2."
          }
        }
      },
      "UsageStorageQuota": {
        "type": "object",
        "required": [
          "quotaBytes",
          "usageBytes",
          "availableBytes"
        ],
        "properties": {
          "quotaBytes": {
            "type": "integer",
            "description": "Per-user quota in bytes (override or 5 GB default)"
          },
          "usageBytes": {
            "type": "integer",
            "description": "Live sum of ready, non-deleted attachment bytes"
          },
          "availableBytes": {
            "type": "integer",
            "description": "max(0, quotaBytes - usageBytes)"
          }
        }
      },
      "UsageStorageQuotaRow": {
        "type": "object",
        "required": [
          "userId",
          "ownerId",
          "quotaBytes",
          "updatedAt"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "Ecosystem id the override is scoped to"
          },
          "quotaBytes": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "site"
        ],
        "summary": "Liveness probe",
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/site/version": {
      "get": {
        "tags": [
          "site"
        ],
        "summary": "Build / version info",
        "responses": {
          "200": {
            "description": "version"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Create an account (email + password)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "name"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "token + refreshToken + user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Sign in",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "token + refreshToken + user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResult"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Rotate refresh token → new JWT",
        "responses": {
          "200": {
            "description": "token + refreshToken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResult"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/revoke": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Sign out (revoke refresh token)",
        "responses": {
          "204": {
            "description": "revoked"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Current user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "auth"
        ],
        "summary": "Update the caller's own profile (display name and/or login slug)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "At least one of name or slug is required.",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "slug": {
                    "type": "string",
                    "pattern": "^[a-z0-9][a-z0-9_-]{1,63}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "user (same shape as GET /auth/me)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/slug-available/{slug}": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Check whether a login slug is available to the caller",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "available"
                  ],
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "reason": {
                      "type": "string",
                      "enum": [
                        "format",
                        "taken"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/revoke-all": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Revoke all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "revoked"
          }
        }
      }
    },
    "/auth/change-password": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Change password (revokes sessions)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "changed"
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/tokens": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "List the caller’s API tokens (metadata only; raw values never returned)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiToken"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Mint an API token (raw value shown once)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API token + raw value (shown once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenCreated"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/tokens/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "tags": [
          "auth"
        ],
        "summary": "Revoke an API token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "revoked"
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/capabilities": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "List all capability grants, or one user via ?userId (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "capabilities"
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/capabilities/grant": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Grant a capability to a user (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "capability"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "capability": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "granted"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/capabilities/revoke": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Revoke a capability from a user (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "capability"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "capability": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "revoked"
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/clients": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "List OAuth clients (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "slug",
                      "name",
                      "allowedReturnOrigins",
                      "isInternal"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "allowedReturnOrigins": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "defaultEcosystemId": {
                        "type": "string",
                        "nullable": true
                      },
                      "isInternal": {
                        "type": "boolean"
                      },
                      "appTokenPrefix": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "oauth"
        ],
        "summary": "Create an OAuth client + issue its app token (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "slug",
                  "name",
                  "defaultEcosystemId"
                ],
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "allowedReturnOrigins": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "defaultEcosystemId": {
                    "type": "string"
                  },
                  "jwtAudience": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client + one-time app token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "client"
                  ],
                  "properties": {
                    "client": {
                      "type": "object",
                      "required": [
                        "id",
                        "slug",
                        "name",
                        "allowedReturnOrigins",
                        "isInternal"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "allowedReturnOrigins": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "defaultEcosystemId": {
                          "type": "string",
                          "nullable": true
                        },
                        "isInternal": {
                          "type": "boolean"
                        },
                        "appTokenPrefix": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "appToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/clients/{slug}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "Get a client + its linked providers (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Client + linked providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "client",
                    "providers"
                  ],
                  "properties": {
                    "client": {
                      "type": "object",
                      "required": [
                        "id",
                        "slug",
                        "name",
                        "allowedReturnOrigins",
                        "isInternal"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "allowedReturnOrigins": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "defaultEcosystemId": {
                          "type": "string",
                          "nullable": true
                        },
                        "isInternal": {
                          "type": "boolean"
                        },
                        "appTokenPrefix": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "slug",
                          "name",
                          "authType"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "authType": {
                            "type": "string",
                            "enum": [
                              "oauth2_code",
                              "oauth2_access_token",
                              "oidc_id_token"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "oauth"
        ],
        "summary": "Update a client (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "slug",
                  "name",
                  "defaultEcosystemId"
                ],
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "allowedReturnOrigins": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "defaultEcosystemId": {
                    "type": "string"
                  },
                  "jwtAudience": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "slug",
                    "name",
                    "allowedReturnOrigins",
                    "isInternal"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "allowedReturnOrigins": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "defaultEcosystemId": {
                      "type": "string",
                      "nullable": true
                    },
                    "isInternal": {
                      "type": "boolean"
                    },
                    "appTokenPrefix": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "oauth"
        ],
        "summary": "Delete a client (admin; internal clients are protected)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "deleted"
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/clients/{slug}/rotate-token": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "oauth"
        ],
        "summary": "Rotate a client app token (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "One-time app token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "appToken",
                    "appTokenPrefix"
                  ],
                  "properties": {
                    "appToken": {
                      "type": "string"
                    },
                    "appTokenPrefix": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/clients/{slug}/providers/{providerSlug}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "providerSlug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "tags": [
          "oauth"
        ],
        "summary": "Link a provider to a client, optional per-client credential override (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientIdOverride": {
                    "type": "string",
                    "nullable": true
                  },
                  "clientSecretOverride": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider linked to client",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "clientSlug",
                    "providerSlug",
                    "hasOverrides"
                  ],
                  "properties": {
                    "clientSlug": {
                      "type": "string"
                    },
                    "providerSlug": {
                      "type": "string"
                    },
                    "hasOverrides": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "oauth"
        ],
        "summary": "Unlink a provider from a client (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "unlinked"
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/provider-templates": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "Built-in provider templates (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Built-in provider templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "templates"
                  ],
                  "properties": {
                    "templates": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "slug",
                          "name",
                          "authType"
                        ],
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "authType": {
                            "type": "string",
                            "enum": [
                              "oauth2_code",
                              "oauth2_access_token",
                              "oidc_id_token"
                            ]
                          },
                          "authorizeUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "tokenUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "userinfoUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "defaultScopes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "identityMapping": {
                            "type": "object",
                            "properties": {
                              "subjectField": {
                                "type": "string"
                              },
                              "emailField": {
                                "type": "string"
                              },
                              "nameField": {
                                "type": "string"
                              },
                              "avatarField": {
                                "type": "string"
                              },
                              "verificationUrl": {
                                "type": "string"
                              },
                              "jwksUrl": {
                                "type": "string"
                              },
                              "requireEmailVerified": {
                                "type": "boolean"
                              },
                              "allowedAudiences": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "secondaryEmailUrl": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/providers": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "List OAuth providers (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "slug",
                      "name",
                      "authType",
                      "clientId",
                      "scopes",
                      "identityMapping"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "authType": {
                        "type": "string",
                        "enum": [
                          "oauth2_code",
                          "oauth2_access_token",
                          "oidc_id_token"
                        ]
                      },
                      "authorizeUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "tokenUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "userinfoUrl": {
                        "type": "string",
                        "nullable": true
                      },
                      "clientId": {
                        "type": "string"
                      },
                      "scopes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "identityMapping": {
                        "type": "object",
                        "properties": {
                          "subjectField": {
                            "type": "string"
                          },
                          "emailField": {
                            "type": "string"
                          },
                          "nameField": {
                            "type": "string"
                          },
                          "avatarField": {
                            "type": "string"
                          },
                          "verificationUrl": {
                            "type": "string"
                          },
                          "jwksUrl": {
                            "type": "string"
                          },
                          "requireEmailVerified": {
                            "type": "boolean"
                          },
                          "allowedAudiences": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "secondaryEmailUrl": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "oauth"
        ],
        "summary": "Create a provider from a template or full spec (admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientId",
                  "clientSecret"
                ],
                "properties": {
                  "templateSlug": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "clientId": {
                    "type": "string"
                  },
                  "clientSecret": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "authorizeUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "tokenUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "userinfoUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "authType": {
                    "type": "string",
                    "enum": [
                      "oauth2_code",
                      "oauth2_access_token",
                      "oidc_id_token"
                    ]
                  },
                  "identityMapping": {
                    "type": "object",
                    "required": [
                      "subjectField",
                      "emailField",
                      "nameField",
                      "avatarField"
                    ],
                    "properties": {
                      "subjectField": {
                        "type": "string"
                      },
                      "emailField": {
                        "type": "string"
                      },
                      "nameField": {
                        "type": "string"
                      },
                      "avatarField": {
                        "type": "string"
                      },
                      "verificationUrl": {
                        "type": "string"
                      },
                      "requireEmailVerified": {
                        "type": "boolean"
                      },
                      "allowedAudiences": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "secondaryEmailUrl": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider",
            "content": {
[...]
