{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Agentic Developer Hub API",
    "description" : "Backend API for the Agentic Developer Hub ecosystem.\n\nConsumers: temporal.today (web app), admin.temporal.today (admin\ndashboard), native iOS/macOS/Android/Windows clients, and the\nmacOS/Windows daemons.\n\n## Authentication\n\nProtected endpoints require a JWT bearer token in the\nAuthorization header. Obtain a token via one of:\n\n- **Provider-agnostic OAuth** — `GET /api/auth/providers` to\n  discover providers, then `POST /api/auth/complete` (direct)\n  or `GET /api/auth/start` → callback → `POST /api/auth/exchange`\n  (redirect flow). Supports OAuth2 code, access-token, and\n  OIDC id-token auth types.\n- **Google OAuth (legacy)** — `POST /api/auth/google` with a\n  Google ID token.\n- **Email / password** — `POST /api/auth/register` or\n  `POST /api/auth/login`.\n\n## Admin-gated endpoints\n\nMany routes — OAuth client management, user roles, personas,\npersona services, integration configs, messaging, the\nsubscription tier catalog, and more — require the caller to\nhold the `admin` capability. Admin enforcement is per-handler,\nnot URL-scoped: the route paths are not prefixed with\n`/admin`. A non-admin caller hitting an admin-gated route\nreceives `403 Forbidden`.\n\n## WebSocket\n\nReal-time events (replies, notifications, typing, presence, DMs)\nflow over a multiplexed WebSocket at `ws://host/ws/discussions`.\nThe first message must be the JWT; subsequent messages are JSON\nenvelopes — see the shared/model package for message shapes.\n\n## Webhooks\n\nInbound webhook receivers (e.g. Google Calendar push\nnotifications) live under `/api/webhooks/`. These are called by\nexternal services, not by API consumers.",
    "version" : "1.0.0"
  },
  "externalDocs" : {
    "url" : "/"
  },
  "servers" : [ {
    "url" : "https://api.agenticdeveloperhub.com",
    "description" : "Production"
  } ],
  "tags" : [ ],
  "paths" : {
    "" : {
      "get" : {
        "tags" : [ ],
        "parameters" : [ ],
        "responses" : { },
        "deprecated" : false
      }
    },
    "/api/billing/rate-limit-tiers" : {
      "get" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "List all rate-limit tiers (admin)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Rate-limit tiers",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.backend.usage.RateLimitTierDto"
                  },
                  "title" : "List<RateLimitTierDto>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "Create a rate-limit tier (admin)",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.usage.RateLimitTierInput"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.RateLimitTierDto"
                }
              }
            }
          },
          "409" : {
            "description" : "Slug already exists",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/billing/rate-limit-tiers/{id}" : {
      "get" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "Get a rate-limit tier by id (admin)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Tier",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.RateLimitTierDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "Update a rate-limit tier (admin)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.usage.RateLimitTierInput"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Updated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.RateLimitTierDto"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Slug already exists",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "Delete a rate-limit tier (admin)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted",
            "headers" : { }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/billing/principal-tiers" : {
      "get" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "List all principal→tier assignments (admin)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Assignments",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.backend.usage.PrincipalTierDto"
                  },
                  "title" : "List<PrincipalTierDto>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Create a new principal→tier assignment (admin). Returns 409 if one already exists.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.CreatePrincipalTierRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.PrincipalTierDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Assignment already exists — use PUT to update",
            "headers" : { }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/billing/principal-tiers/{scope}/{principalId}" : {
      "get" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Get a single principal→tier assignment by scope and principalId (admin)",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "principalId",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Assignment",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.PrincipalTierDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Assign a tier to a principal (admin)",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "principalId",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.usage.AssignTierRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Assigned",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.PrincipalTierDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Remove a principal→tier assignment (admin)",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "principalId",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/usage/me" : {
      "get" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "Usage summary for the calling user's USER-scoped principal",
        "parameters" : [ {
          "name" : "days",
          "in" : "query",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "title" : "Int"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Usage summary",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.UsageSummaryDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/usage/me/quota" : {
      "get" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "Quota status for the calling user's USER-scoped principal",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Quota status",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.QuotaStatus"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/usage/{scope}/{principalId}" : {
      "get" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "Usage summary for any principal (admin)",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "principalId",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "days",
          "in" : "query",
          "required" : false,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "title" : "Int"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Usage summary",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.UsageSummaryDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/usage/{scope}/{principalId}/quota" : {
      "get" : {
        "tags" : [ "Billing & Usage" ],
        "description" : "Quota status for any principal (admin)",
        "parameters" : [ {
          "name" : "scope",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "principalId",
          "in" : "path",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Quota status",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.usage.QuotaStatus"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/health" : {
      "get" : {
        "tags" : [ "System" ],
        "description" : "Liveness check",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/health/live" : {
      "get" : {
        "tags" : [ "System" ],
        "description" : "Liveness check (alias)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/health/ready" : {
      "get" : {
        "tags" : [ "System" ],
        "description" : "Readiness check including database connectivity",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Ready",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "503" : {
            "description" : "Database disconnected",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/version" : {
      "get" : {
        "tags" : [ "System" ],
        "description" : "API version, minimum client version, and current DB schema version",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Version info",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.VersionResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/google" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Sign in with a Google ID token. Verifies with Google, creates user on first sign-in, returns Temporal JWT + refresh token.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.GoogleAuthRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Authenticated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.AuthResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Google token verification failed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/register" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Create a new account with email + password",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.EmailRegisterRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Account created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.AuthResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid email/password/name",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Email already registered",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Email authentication not configured",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/login" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Sign in with email + password",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.EmailLoginRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Authenticated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.AuthResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid credentials or password not set",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Email authentication not configured",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/refresh" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Exchange a refresh token for a new JWT + rotated refresh token. Reads the refresh token from the `refresh_token` cookie; falls back to the request body for clients that haven't migrated.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.RefreshRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Refreshed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.RefreshResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or expired refresh token",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/revoke" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Revoke a refresh token (sign out). Reads the token from the `refresh_token` cookie; falls back to the request body. Clears the cookie on the response.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.RevokeRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Token revoked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "No refresh token supplied",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/me" : {
      "get" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Return the authenticated user (with capabilities)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Current user",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.User"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/revoke-all" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Revoke every refresh token owned by the caller (sign out of all sessions)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "All sessions revoked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/link-password" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Add password authentication to an existing account (e.g. Google-only)",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.LinkPasswordRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Password set",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Password too short",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Email authentication not configured",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid or missing JWT",
            "headers" : { }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/change-password" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Change the caller's password. Requires the current password; revokes all refresh tokens on success.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.ChangePasswordRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Password changed",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "New password too short",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Current password did not match",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "No password is set on this account — use /auth/link-password",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Email authentication not configured",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/providers" : {
      "get" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "List OAuth providers allowed for a given client",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client slug",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Provider list",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.backend.routes.ProviderListItem"
                  },
                  "title" : "List<ProviderListItem>"
                }
              }
            }
          },
          "400" : {
            "description" : "Missing clientId",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Client not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/complete" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Complete an OAuth sign-in (any provider, any auth type). Internal clients omit the Authorization header; external clients must present a Bearer app token.",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.CompleteAuthRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "JWT + refresh token + user",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.OAuthAuthResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/start" : {
      "get" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Initiate a redirect-based OAuth flow (oauth2_code providers only). Redirects the browser to the provider's authorize URL.",
        "parameters" : [ {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client slug",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "providerId",
          "in" : "query",
          "description" : "Provider slug",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "return",
          "in" : "query",
          "description" : "URL to redirect back to after auth",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Redirect to OAuth provider",
            "headers" : { }
          },
          "400" : {
            "description" : "Missing or invalid parameters",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Client or provider not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/callback" : {
      "get" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "OAuth provider callback. Exchanges the provider's authorization code for a single-use exchange code and redirects back to the client's return URL with the code in the fragment.",
        "parameters" : [ {
          "name" : "code",
          "in" : "query",
          "description" : "Authorization code from the OAuth provider",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Signed state parameter",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Redirect to return URL with exchange code in fragment",
            "headers" : { }
          },
          "400" : {
            "description" : "Missing or invalid parameters",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/exchange" : {
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Exchange a single-use code (from the callback redirect) for a JWT and refresh token",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.ExchangeRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "JWT + refresh token + user",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.OAuthAuthResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Code unknown or expired",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/api/site/webhooks/google/calendar" : {
      "post" : {
        "tags" : [ "System" ],
        "description" : "Receive Google Calendar push notifications. Google sends channel ID and resource state in headers.",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Acknowledged",
            "headers" : { }
          },
          "400" : {
            "description" : "Missing X-Goog-Channel-ID header",
            "headers" : { }
          }
        },
        "deprecated" : false
      }
    },
    "/api/auth/tokens" : {
      "get" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "List the authenticated user's API tokens (returns metadata only — never the token value)",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Token list",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.backend.routes.ApiTokenResponse"
                  },
                  "title" : "List<ApiTokenResponse>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Create a new API token (raw token returned ONCE in this response)",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.CreateApiTokenRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Token created (with raw value)",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.CreatedApiTokenResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/auth/tokens/{id}" : {
      "get" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Get a single API token by id (metadata only — never the token value)",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Token ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Token metadata",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.routes.ApiTokenResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Authentication & Identity" ],
        "description" : "Revoke (delete) an API token",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Token ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Revoked",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/teams" : {
      "get" : {
        "tags" : [ "Platform" ],
        "description" : "List teams in the ecosystem",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Teams",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/company.temporal.shared.model.TeamSummary"
                  },
                  "title" : "List<TeamSummary>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Platform" ],
        "description" : "Create a team",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.CreateTeamRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Team"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/teams/{id}" : {
      "get" : {
        "tags" : [ "Platform" ],
        "description" : "Get a team with members and permissions",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Team ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Team",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.TeamDetail"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Platform" ],
        "description" : "Update a team's name and description",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Team ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.UpdateTeamRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Updated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.Team"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Platform" ],
        "description" : "Soft-delete a team",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Team ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/teams/{id}/members" : {
      "post" : {
        "tags" : [ "Platform" ],
        "description" : "Add a member to a team",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Team ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.AddMemberRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Added",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "title" : "String"
                  },
                  "title" : "Map<String,String>"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/teams/{id}/members/{userId}" : {
      "get" : {
        "tags" : [ "Platform" ],
        "description" : "Get a single team member by user ID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Team ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Member",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.TeamMember"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Platform" ],
        "description" : "Update a team member's role",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Team ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.backend.routes.UpdateMemberRoleRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "204" : {
            "description" : "Updated",
            "headers" : { }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Platform" ],
        "description" : "Remove a member from a team",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Team ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Removed",
            "headers" : { }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "BearerAuth" : [ ]
        } ]
      }
    },
    "/api/teams/{id}/permissions" : {
      "put" : {
        "tags" : [ "Platform" ],
        "description" : "Replace a team's permission set",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Team ID",
          "required" : true,
          "deprecated" : false,
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "String"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/company.temporal.shared.model.SetPermissionsRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Updated",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.shared.model.TeamDetail"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid JWT",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Authenticated user lacks permission",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/company.temporal.backend.openapi.ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found",
[...]
